<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container-tiga">
    <div class="twitter">
        <table>
            <tr>
                <td><img src="{% static 'pngegg.png' %}" width="30px" height="30px"></td>
                <td>jafar</td>
            </tr>
        </table>
    </div>
    <div class="instagram">
        <table>
            <tr>
                <td><img src="{% static 'instagram.png' %}" width="30px" height="30px"></td>
                <td>jafar</td>
            </tr>
        </table>
    </div>
    <div class="email">
        <table>
            <tr>
                <td><img src="{% static 'email.png' %}" width="30px" height="30px"></td>
                <td>jafar@gmail.com</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>