<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include "navbar.html" %}
<div class="container-satu">
    <div class="sidebar">
        <div class="foto">
            <img src="{% static 'circle-cropped.png' %}" width="120" height="130">
        </div>
        <div class="biodata">
            <table>
                <tr>
                    <td>Nama</td>
                    <td>Jafar Abdurrohman</td>
                </tr>

                <tr>
                    <td>NPM</td>
                    <td>1906350843</td>
                </tr>

                <tr>
                    <td>Angkatan</td>
                    <td>2019</td>
                </tr>

                <tr>
                    <td>Hobi</td>
                    <td>Membaca</td>
                </tr>

                <tr>
                    <td>Kuliah</td>
                    <td>Fasilkom UI</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="isi">
        <div class="deskripsi">
            <h2>About me</h2>
            <p>Anak ke 3 di keluarga dengan 5 orang anak. sejak kecil suka berolahraga dan menaruh minat di bidang IT.</p>
        </div>
        <div class="pendidikan">
            <h2>Riwayat Pendidikan</h2>
            <table>
                <tr>
                    <td>2005-2007</td>
                    <td>TK Bahrul ulum</td>
                </tr>

                <tr>
                    <td>2007-2013</td>
                    <td>SD Negeri Puspiptek</td>
                </tr>

                <tr>
                    <td>2013-2016</td>
                    <td>SMPIT Insan Harapan</td>
                </tr>

                <tr>
                    <td>2016-2019</td>
                    <td>SMA Negeri 2 Tangerang Selatan</td>
                </tr>

                <tr>
                    <td>2019-Sekarang</td>
                    <td>Universitas Indonesia</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>