<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Quotes</title>
</head>
<body>
{% include "navbar.html" %}
<div class="container-utama">
    <div class="isi2">
        <div class="quotes">
            <p>
                "Imajinasi lebih penting daripada pengetahuan.
                Hanya ada dua hal yang tak terbatas. Alam semesta dan kebodohan manusia, dan aku tidak yakin yang pertama benar.
                Hidup itu seperti naik sepeda. Untuk menjaga keseimbangan Anda, Anda harus terus bergerak.
                Imajinasi adalah segalanya; imajinasi merupakan gambaran awal daya tarik kehidupan mendatang.
                Lihatlah alam dengan seksama, maka kamu akan mengerti segalanya dengan lebih baik.
                Aku tidak memiliki bakat khusus, aku hanya punya rasa penasaran yang besar.
                Di tengah kesulitan terdapat kesempatan.
                Jika Anda tidak dapat menjelaskan sesuatu hal secara sederhana, itu artinya Anda belum cukup paham.
                Hal yang penting adalah tidak berhenti bertanya. Keingintahuan memiliki alasan kenapa ada.
                Kegilaan: melakukan hal yang sama terus menerus dan mengharapkan hasil yang berbeda." Albert Einstein
            </p>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>