<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<nav>
    <div class="logo">
        <h3>Jafar Abdurrohman</h3>
    </div>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'lainnya' %}">Lainnya</a></li>
        <li><a href="{% url 'main:home' %}">Story1</a></li>
    </ul>
</nav>
</body>
</html>