<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Story 1</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include "navbar.html" %}
<div>
    <img src="{% static '16393.jpg' %}" width='150' height='200'>
</div>

<div >
    <h2>Biodata</h2>
    <table>
        <tr>
            <td>Nama</td>
            <td>Jafar Abdurrohman</td>
        </tr>

        <tr>
            <td>NPM</td>
            <td>1906350843</td>
        </tr>

        <tr>
            <td>Angkatan</td>
            <td>2019</td>
        </tr>

        <tr>
            <td>Hobi</td>
            <td>Membaca</td>
        </tr>

        <tr>
            <td>Kuliah</td>
            <td>Fasilkom UI</td>
        </tr>
    </table>
</div>

<div>
    <h2>Deskripsi tentang saya</h2>
    <p>Anak ke 3 di keluarga dengan 5 orang anak. sejak kecil suka berolahraga dan menaruh minat di bidang IT.</p>
</div>

<div>
    <h2>Riwayat Pendidikan</h2>
    <table>
        <tr>
            <td>2005-2007</td>
            <td>TK Bahrul ulum</td>
        </tr>

        <tr>
            <td>2007-2013</td>
            <td>SD Negeri Puspiptek</td>
        </tr>

        <tr>
            <td>2013-2016</td>
            <td>SMPIT Insan Harapan</td>
        </tr>

        <tr>
            <td>2016-2019</td>
            <td>SMA Negeri 2 Tangerang Selatan</td>
        </tr>

        <tr>
            <td>2019-Sekarang</td>
            <td>Universitas Indonesia</td>
        </tr>
    </table>
    <div>
        <h2>Media Sosial</h2>
        <table>
            <tr>
                <td>Twitter</td>
                <td>sroop_</td>
            </tr>

            <tr>
                <td>Instagram</td>
                <td>jafarabdurrohman</td>
            </tr>
        </table>

</div>
</body>
</html>